@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GE SS Two";
  src: url("./assets/fonts/alfont_com_AlFont_com_GE_SS_TWO_MEDIUM_5.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GE SS Two";
  scroll-behavior: smooth;
}
